# Server Configuration
PORT=4000

# Database Configuration
MONGO_DB_USER_NAME=<mongodb-username>
MONGO_DB_PASSWORD=<mongodb-password>
MONGO_DB_CLUSTER=<mongodb-cluster>

# CoinGecko Configuration
COINGECKO_API_KEY=<api-key>

# NATS Configuration
NATS_URL=nats://localhost:4222 
